sudo: false
language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
env:
  - DJANGO_PACKAGE=django~=2.0
  - DJANGO_PACKAGE=django~=1.11.12
  - DJANGO_PACKAGE=django~=1.10.8
  - DJANGO_PACKAGE=django~=1.9.13
  - DJANGO_PACKAGE=django~=1.8.19
install:
  - pip install -U pip setuptools wheel
  - pip install pytest-django pytest $DJANGO_PACKAGE .
script: pytest
cache: pip
