{% extends "base.html" %}
{% load fusionbox_tags %}
{% block content %}
  <section class="wrapper content">
    <div class="inner">
      <div class="blogroll">
        <article>
          <p class="breadcrumb"><a href="/">Home</a> &lt; <a href="{% url blog_index %}">Blog</a> &lt; {{ post.title }}</p>
          <hgroup>
            <h1>{{post.title}}</h1>
          </hgroup>
          <p class="author">by {{ post.author }} | {{ post.created_at|date:"F d, Y" }}</p>
  
          <ul class="messages">
          </ul>
  
          {{ post.body }}
          {% block comment %}
          {% endblock %}
      </div><!--/blogroll -->

      <aside class="column">  
        <p class="title">Categories:</p>
        <!-- { include "blog/tags.html" %} -->
        <section class="callout">
        {% block callout %}
        {% endblock %}
        </section>
  
        <section class="callout plain">
        {% block calloutplain %}
        {% endblock %}
        </section>

        <p class="title">Subscribe via RSS:</p>
      </aside>

      {% block column %}
      {% endblock %}
    </div>
  </section>
{% endblock %}
