{% load fusionbox_tags %}
{% load cache %}

{% cache 999999 blog_left_nav blogs_cache_version %}
<ul class="blogs_nav">
{% for year, months in blogs_for_left_nav.items %}
  <li><a class="year" href="#">{{ year }}</a>
    <ul>
      {% for month, blogs in months.items %}
        <li><a class="month" href="#">{{ month|month_name }}</a>
          <ul>
            {% for blog in blogs %}
              <li><a href="{{blog.get_absolute_url}}">{{blog.title}}</a></li>
            {% endfor %}
          </ul>
        </li>
      {% endfor %}
    </ul>
  </li>
{% endfor %}
</ul>

<script>
  $('.blogs_nav ul li').hide();
  $('.blogs_nav .year, .blogs_nav .month').click(function(event) {
    var $this = $(this);
    $this.next().find('> li').toggle();
    event.preventDefault();
    event.stopPropagation();
  });
</script>
{% endcache %}
