-e git://github.com/fusionbox/django-fusionbox.git#egg=django_fusionbox
Django==1.4.1
South
Werkzeug
django-cachebuster
django-compressor
django-debug-toolbar
django-extensions
MySQL-python==1.2.3
django-secure
